@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #137fec;
  --background-light: #f6f7f8;
  --background-dark: #101922;
  --surface-dark: #1a2530;
  --border-dark: #2d3a49;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-surface-dark: var(--surface-dark);
  --color-border-dark: var(--border-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}